//primary colors
$c-lapiz-lazuli: #005AA3;
$c-orange: #FF8000;
$c-black-coral: #5D6071;

//secondary colors
$c-indigo-dye: #004277;
$c-sapphire-blue: #1769AB;
$c-green-blue-crayola: #4587BC;

//text colors
$c-text-high-emphasis: #09090B;
$c-text-medium-emphasis: #4D4F5D;
$c-text-disabled: #9799A4;

//background colors
$c-bg-dark: #E1E2E5;
$c-bg-light: #F0F0F2;
$c-bg-disabled: #D2D3D8;

//component background colors on white
$c-bg-card-background-on-white: #F9F9F9;

//border colors
$c-border-dark: #D2D3D8;

//success
$c-sea-green: #308653;
$c-mint-cream: #ECF4EF;

//warning
$c-honey-yellow: #FFB511;
$c-papaya-whip: #FFF1D3;

//error
$c-jasper: #D73E3E;
$c-lavender-blush: #FCEEEE;

//navigation
$c-pale-cerulane: #A2C3DD;