.btn {
  font-size: 16px;
  padding: 6px 40px;
  border-radius: 20px;
  border: 2px solid transparent;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.btn-primary:not([disabled]) {
    background-color: $c-sapphire-blue;

    &:hover, &:active, &:focus {
      background-color: $c-indigo-dye;
      box-shadow: none;
    }

    &:focus {
      border: 2px solid $c-pale-cerulane;
    }
  }

  &.btn-primary[disabled] {
    background-color: $c-bg-disabled;

    &:hover, &:active, &:focus {
      border-color: $c-bg-disabled;
      box-shadow: none;
    }
  }

  &.btn-secondary:not([disabled]) {
    border: 2px solid $c-black-coral;
    color: $c-black-coral-15;
    background-color: white;

    &:hover, &:active, &:focus {
      border: 2px solid $c-border-dark;
      box-shadow: none;
    }

    &:focus {
      border: 2px solid $c-lapiz-lazuli;
    }
  }

  &.btn-secondary[disabled] {
    border: 2px solid $c-bg-disabled;
    background-color: $c-bg-light;
    color: $c-text-disabled;

    &:hover, &:active, &:focus {
      border-color: $c-bg-disabled;
      box-shadow: none;
    }
  }

  &.btn-icon {
    padding: 6px 24px;

    .material-icons {
      float: right;
      margin-left: 10px;
    }
  }
}